/* Resets and basic setup*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  background: var(--clr-base-100);
  color: var(--black);
  font-size: 1.25rem; /* var(--fs-400) */
  line-height: 1.5;
  width: 100vw;
}

main {
  padding-bottom: 3rem;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul[class] li,
ol[class] li {
  list-style: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.title {
  padding: 3rem;
  color: var(--white);
  background-image: linear-gradient(
    290deg,
    var(--primary-dark),
    var(--secondary),
    var(--secondary),
    var(--secondary-light)
  );
}
