/* Resets and basic setup*/

:root {
  --primary: hsl(203, 33%, 60%);
  --primary-dark: ##33ab4;
  --secondary: hsl(22, 12%, 49%);
  --secondary-light: #bfa89e;
  --white: #ebf5ee;
  --black: #211103;

  --ff-sans: sans-serif;
  --ff-serif: serif;

  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375;
  --fs-600: 1.75rem;
  --fs-900: 2.125rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  background: var(--white);
  color: var(--black);
  font-size: 1.25rem; /* var(--fs-400) */
  line-height: 1.5;
  width: 100vw;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul[class] li,
ol[class] li {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
